@font-face {
  font-family: 'Press Start 2P';
  src: url('fonts/PressStart2P-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('fonts/RobotoMono-Regular.ttf') format('truetype');
}

$base-font-stack: 'Roboto Mono', 'D2Coding', 'Malgun Gothic', Consolas, monospace;
$game-font-stack: 'Press Start 2P', 'DungGeunMo', 'Malgun Gothic', monospace;
$reading-font-stack: 'Noto Sans KR', 'Apple SD Gothic Neo', 'Malgun Gothic', "Helvetica Neue", Helvetica, sans-serif;
